<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>504361472908-p05uap49lmnjsmaskgceqr127p7hrnsi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.504361472908-p05uap49lmnjsmaskgceqr127p7hrnsi</string>
	<key>API_KEY</key>
	<string>AIzaSyCBIGe3hkBiAuYShqL5ousMOMtlseEiMeE</string>
	<key>GCM_SENDER_ID</key>
	<string>504361472908</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rafiramadhana.presenceGeolocatorApp</string>
	<key>PROJECT_ID</key>
	<string>presence-geolocator-b92b8</string>
	<key>STORAGE_BUCKET</key>
	<string>presence-geolocator-b92b8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:504361472908:ios:6f9e8d742caccaae2f7ca9</string>
</dict>
</plist>